<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $usersPermission->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $usersPermission->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Users Permissions'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="usersPermissions form large-9 medium-8 columns content">
    <?= $this->Form->create($usersPermission) ?>
    <fieldset>
        <legend><?= __('Edit Users Permission') ?></legend>
        <?php
            echo $this->Form->control('user_id', ['options' => [$usersPermission->user_id => $usersPermission->user->name], 'disabled' => true]);
            echo $this->Form->control('permission', ['options' => [ 1 => 'admin', 2 => 'editor', 3 => 'user']]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
